.container {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shadow {
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-left-part {
    float: left;
}

.header-left-link {
    display: inline-block;
    margin: 22px 0 19px 81px;
    text-decoration: none;
}

.header-left-text {
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.header-left-text:hover {
    color: #3cb878;
}

.header-right-part {
    float: right;
}


.sprite-compass,
.sprite-calc,
.sprite-doc,
.sprite-compass:hover,
.sprite-calc:hover,
.sprite-doc:hover {
    background-image: url("../img/css_sprites.png");
    background-repeat: no-repeat;
}

.sprite-calc {
    display: inline-block;
    vertical-align: middle;
    margin: 19px 28px 18px 0;
    width: 19px;
    height: 19px;
    background-position: -106px -49px;
}

.sprite-calc:hover {
    background-position: -106px -10px;
}

.sprite-doc {
    display: inline-block;
    vertical-align: middle;
    margin: 18px 28px 19px 0;
    width: 28px;
    height: 20px;
    background-position: -58px -10px;
}

.sprite-doc:hover {
    background-position: -10px -10px;
}

.sprite-compass {
    display: inline-block;
    margin: 18px 50px 18px 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-position: -50px -50px;
}

.sprite-compass:hover {
    background-position: -10px -50px;
}

.header-login {
    position:relative;
    display: inline-block;
    margin: 24px 0 19px 0;
    font-size: 14px;
    color: white;
}

.header-login::before {
    position: absolute;
    top: -5px;
    left: -25px;
    height: 28px;
    border-left: 1px solid white;
    opacity: 0.1;
    content: "";
}

.header-signup {
    display: inline-block;
    margin: 24px 75px 19px 0;
    font-size: 14px;
    color: white;
}

.after-shadow {
    width: 100%;
    /*height: 100%;*/
    /*display: flex;*/
}

.form {
    margin: 65px auto;
    text-align: left;
    width: 444px;
    height: 584px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

.form-container {
    padding: 30px 60px;
}

.form-name {
    display: inline-block;
    width: 49%;
    font-size: 20px;
    color: #434343;
    text-align: left;
    position: relative;
}

.form-name::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: -60px;
}

.form-login {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 14px;
}

.login-link {
    text-decoration: none;
    color: #3cb878;
}

.login-link:hover {
    text-decoration: underline;
}

.social-media-login {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 49%;
    height: 46px;
    text-decoration: none;
    border-radius: 5px;
}

.social-media-login::before {
    position: absolute;
    top: 9px;
    left: 47px;
    height: 28px;
    border-left: 1px solid rgba(0,0,0,0.1);
    content: "";
}

.facebook-color {
    background-color: grey;
}

.facebook-color:hover {
    background-color: black;
}


.fb-text {
    margin: 16px 17px 17px 66px;
    font-size: 16px;
    text-align: justify;
    color: white;
}

.fb-text::before {
    position: absolute;
    top: 13px;
    left: 20px;
    content: url("../img/fb.png");
}

.google-color {
    background-color: grey;
}

.google-color:hover {
    background-color: black;
}


.google-text {
    margin: 16px 17px 17px 66px;
    font-size: 16px;
    text-align: justify;
    color: white;
}

.google-text::before {
    position: absolute;
    top: 15px;
    left: 13px;
    content: url("../img/google.png");
}

.or-choice {
    position: relative;
    text-align: center;
    margin: 33px 0 18px 0;
    font-size: 14px;
    color: #cecece;
}

.or-choice::before {
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 42%;
    border-bottom: 1px solid #cecece;
    content: "";
}

.or-choice::after {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 42%;
    border-bottom: 1px solid #cecece;
    content: "";
}

.data-field {
    margin-bottom: 9px;
    width: 322px;
    height: 46px;
    font-size: 14px;
    padding-left: 19px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.data-field:focus {
    box-shadow: 0 5px 5px lightgrey;
    /*font-weight: 600;*/
    color: black;
    /*outline: 0;*/
    outline-width: 0;
}

.checkbox-text {
    display: inline-block;
    font-size: 14px;
    margin: 22px 0 28px 0;
}

.checkboxer:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid grey;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);

}

.checkboxer {
    position: absolute;
    left: -999em;
}

.checkboxer + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.checkboxer + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-right: 0.5em;
}

input::-webkit-input-placeholder {
    color: grey;
}


input:focus::-webkit-input-placeholder {
    color: black;
}

.create-button {
    cursor: pointer;
    width: 322px;
    height: 46px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    outline-width: 0;
}

.create-button:hover {
    background-color: black;
}

.green-underline {
    color: black;
    text-decoration: none;
}


.green-underline:hover {
    text-decoration: underline;
}

.change-button {
    position: absolute;
    top: 0;
    left: 400px;
    font-size: 20px;
    background-color: teal;
    color: white;
    padding: 20px;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}